/* .carousel__container {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
} */
.carousel__wrapper {
    /* margin: 0 auto; */
    width: 300vw;
    /* height: 100vh; */
    /* overflow-y: hidden; */
}

.carousel__content {
    width: 100vw;
    height: 100vh;
    float: left;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.content__image {
    width: 20%;
    margin: 0 auto;
}

.content__main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

.box__wrapper {
    display: flex;
    justify-content: space-between;
}

.box__wrapper button {
    width: 48%;
}
