.social__form {
    margin: 0 auto;
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}
.social__form button {
    width: 49%;
}
.kakao_btn {
    background-color: #f7e600;
    color: #3a1d1d;
    font-size: 1rem;
    font-weight: bold;
}
.naver_btn {
    background-color: #2db400;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.or__line {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    color: #909090;
    font-size: 1.2rem;
}
.login {
    width: 30%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f2cc8f;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .social__form {
        width: 90vw;
    }
    .kakao_btn,
    .naver_btn {
        font-size: 0.8rem;
    }

    .login {
        width: 90vw;
    }
}
