.list__container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    height: 90vh;
}
.list__wrapper {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 1.2rem;
    border: 1px solid black;
    border-radius: 4px;
}
.list__wrapper p:nth-child(1) {
    font-size: 1.2rem;
}
.list__wrapper p:nth-child(2) {
    font-weight: bold;
}
